html, body, #root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.navbar {
  background-color: #eee;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: left;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar li a {
  text-decoration: none;
  color: #333;
  border: 1px solid #ccc;       /* Add border */
  padding: 0.5rem 1rem;         /* Space inside the border */
  border-radius: 5px;           /* Optional: rounded corners */
  background-color: burlywood;
}

.footer {
  background-color: burlywood;
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 1px 0;
  line-height: 0.1;
}


.mid-component{
  margin: 10px;
  text-align: center;
}

.logo{
  width: 15px;
}

.image{
  width: 300px;
}

.row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;
  margin-top: 30px;
  gap: 1.5rem;
}

.image {
  width: 250px;
  height: 250px;
  border-radius: 8px;
  padding-left: 20px;
}

.numimage{
  width: 80px;
  height: 80px;
}

.text-block {
  flex: 1;
  margin-right: 200px;
}

.vocab-row {
  display: flex;
  grid-template-columns: 150px 50px 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 10px;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  border-color:  #eee;
  border-width: 5px;
  margin: 10px auto;
  margin-left: 10px;
  margin-right: 1600px;
}

.image-col {
  grid-row: 1 / span 3;
}

.sound-col {
  display: flex;
  justify-content: center;
  align-items: start;
  grid-row: 1 / 2;
}

.sound-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.text-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-row: 1 / 4;
}

.sanskrit-row {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}

.pronunciation-row,
.english-row {
  margin: 0;
  font-size: 16px;
  color: #555;
}